body {
    font-family: calibri;
}

p {
    font-size: 25px;
    margin: 15px;
}

a {
    font-size: 25px;
}

header {
    border: 5px solid green;
    border-radius: 10px;
}

h1 {
    border: 3px solid blue;
    border-radius: 15px;
    text-align: center;
    font-size: 50px;
    font-family: cursive;
}

footer {
    border: 5px solid black;
    border-radius: 5px;
}

footer p {
    background-color: sandybrown;
    border: 5px white;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
}

nav {
    background-color: blanchedalmond;
    border-radius: 10px;
}

nav a {
    font-size: 35px;
    text-decoration: none;
    padding: 23px;
    color: firebrick;
}

header a {
    font-size: 25px;
    text-decoration: none;
    color: steelblue;
}

header b {
    font-size: 25px;
}

.image {
    width: 200px;
}

.logo {
    height: 50px;
}

h2 {
    font-size: 35px;
    font-family: Arial;
    color: chocolate;
    margin: 15px;
    text-align: center;
}

.price {
    border: 5px solid black;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
}

.paint {
    border: 5px solid lightblue;
    border-radius: 5px;
    margin: 15px;
}

.offer {
    border: 5px dashed #d15252;
    border-radius: 5px;
    margin: 15px;
}

.buttons {
    border: 3px solid darkblue;
    border-radius: 15px;
    font-size: 35px;
    text-decoration: none;
    padding: 5px;
    margin: 15px;
    background-color: darkblue;
    color: white;
}

.painting {
    margin: 15px;
}
